<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0%;
        padding: 0;
      }
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
    </style>
  </head>
  <body>
    <div style="width:auto;height: 75px; line-height: 70px">
        <img src="img/picker.png" id="ab" width="138px" height="58px" style="vertical-align: middle; margin-left: 80px; margin-right: 79px;">
        <input id="region" type="text" style="width: 477px; height: 40px; border-color: red; border-style: solid; font-size: 1.5em" placeholder=" &nbsp; Enter your location">
        <input type="image" src="img/search.png" style="width: 78px; height: 45px; vertical-align: middle;" onclick="search()">
    </div>
   
   <div style="width: auto; height: 50px;">
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn" id="PriceButton"> &nbsp; Price &nbsp; 
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#" onClick="Select('$1000 ~ $2000', 1, 1)" return false;> $1000 ~ $2000 </a>
                    <input type="hidden" id="a1" value="0" readonly="readonly"/>
                    <a href="#" onClick="Select('$2000 ~ $3000', 1, 2)" return false;> $2000 ~ $3000 </a>
                    <a href="#" onClick="Select('$3000 ~ $4000', 1, 3)" return false;> $3000 ~ $4000 </a>
                </div>
                <script>
                function Select(value, type, choice){
                  if(type == 1) {
                    document.getElementById("PriceButton").innerHTML = "Price " + value;
                    document.getElementById("a1").value = choice; 
                  }
                  else if(type == 2){
                    document.getElementById("RoomButton").innerHTML = value;
                    document.getElementById("b1").value = choice; 
                  } 
                  else if(type == 3){
                    document.getElementById("DisButton").innerHTML = "Distance " + value;
                    document.getElementById("c1").value = choice; 
                  } 
                  getFilterValue();
                  deleteMarkers();
                  aaa();
                }
                function SelectCmp(value, type){
                    document.getElementById("CmpButton").innerHTML = "Complaints " + value;
                    document.getElementById("d1").value = type; 
                  getComplaints();
                  deleteMarkers();
                  aaa();
                }
                </script>
            </div>
            
            <div class="dropdown">
                <button class="dropbtn" id = "RoomButton";> &nbsp; Bed Rooms &nbsp; 
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#" onClick="Select('Two Bed Rooms', 2, 1)" return false;> Two Bed Rooms </a>
                    <input type="hidden" id="b1" value="0" readonly="readonly"/>
                    <a href="#" onClick="Select('Three Bed Rooms', 2, 2)" return false;> Three Bed Rooms </a>
                    <a href="#" onClick="Select('Four Bed Rooms', 2, 3)" return false;> Four Bed Rooms </a>
                </div>
            </div>
            
            <div class="dropdown">
                <button class="dropbtn" id = "DisButton"> &nbsp; Distance &nbsp; 
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#" onClick="Select('0 ~ 2 miles', 3, 1)" return false;> 0 ~ 5 miles </a>
                    <input type="hidden" id="c1" value="0" readonly="readonly"/>
                    <a href="#" onClick="Select('2 ~ 5 miles', 3, 2)" return false;> 5 ~ 10 miles </a>
                    <a href="#" onClick="Select('5 ~ miles', 3, 3)" return false;> 10 ~ 15 miles</a>
                </div>
            </div>
            
            <div class="dropdown">
                <button class="dropbtn" id ="CmpButton"> &nbsp; Complaints &nbsp; 
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#" onClick="SelectCmp('Noise', 1 )" return false;> Noise </a>
                    <input type="hidden" id="d1" value="0" readonly="readonly"/>
                    <a href="#" onClick="SelectCmp('Street Cleaning', 2 )" return false;> Street Cleaning </a>
                    <a href="#" onClick="SelectCmp('Graffiti', 3 )" return false;> Graffiti </a>
                    <a href="#"> Homeless </a>
                    <a href="#"> Street Lights </a>
                    <a href="#"> Abandon Vehicles </a>
                    <a href="#"> Illegal Posting </a>
                    <a href="#"> Muni feedback </a>
                    <a href="#"> Damaged Property </a>
                    <a href="#"> Litter Receptacles </a>
                    <a href="#"> Sewer Issue </a>
                    <a href="#"> Street Defects </a>
                    <a href="#"> Catch Basin Maintenance </a>
                </div>
            </div>            
            
        </div>
   </div>
   
    <div>
        <div id="map" style="width: 70%; height: 86%; margin-right: 10px; position: absolute;"> </div>
        <div class="div1" style="width: 50px;">
            <button style="width: 15%; height: 10%; position: absolute; right:0; margin-right: 15%; background-color: red; border: 1; border-color: aliceblue; font-size: 3em"> Best Pick </button>   
        </div>
        <div class="div2" style="width: 50px;">
            <button style="width: 15%; height: 10%; position: absolute; right:0; font-size: 3em; border: 1; border-color: aliceblue;"> My Pick </button>    
        </div>
        <div>
            <button style="width: 30%; height: 80%; position: absolute; right:0; margin-top: 5%;">Recomndation List</button>
        </div>
    </div>
    <div id="floating-panel">
    <input onclick="clearMarkers();" type=button value="Hide Markers">
    <input onclick="showMarkers();" type=button value="Show All Markers">
    <input onclick="deleteMarkers();" type=button value="Delete Markers">
  </div>

    
    <!--이거 하려면 아래 마커 함수 실행 시켰을 때 맵의 위치 다시 찍어줘야 함-->
    <script>

      // In the following example, markers appear when the user clicks on the map.
      // The markers are stored in an array.
      // The user can then click an option to hide, show or delete the markers.
      var map;
      var markers = [];

      function initMap() {

        var haightAshbury = {lat: 37.769, lng: -122.446};
        var haightAshbury2 = {lat: 36.769, lng: -123.446};
          

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: haightAshbury,
          mapTypeId: 'terrain'
        });

        // This event listener will call addMarker() when the map is clicked.
        map.addListener('click', function(event) {
          addMarker(event.latLng);
        });

        // Adds a marker at the center of the map
      }
      function aaa(){
            var lat2 = sessionStorage.getItem('lat');
            var lng2 = sessionStorage.getItem('lng');
            var haightAshbury;
            var lat3 = lat2.split(',');
            var lng3 = lng2.split(',');

            for(var i=0; i< lat3.length; i++){
              haightAshbury = {lat: parseFloat(lat3[i]), lng: parseFloat(lng3[i])};
              console.log(lat3[i]);
                addMarker(haightAshbury);    
            }
        }
      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        markers.push(marker);
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg_lICf_UfDzvQRm7dMWtdSZqjqyZ1CGs&callback=initMap"></script>

  
    <script>
     function search(){
        var region = document.getElementById("region").value;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if(xhttp.readyState == 4 && xhttp.status == 200){
                var location = JSON.parse(xhttp.responseText);
                console.log(location);
                var lat = location.results[0].geometry.location.lat;
                var lng = location.results[0].geometry.location.lng;
                console.log(lat);
                console.log(lng);
                
                new function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: lat, lng: lng},
                    zoom: 13
                    });
                }    
            }
        };
        xhttp.open("GET", "https://maps.googleapis.com/maps/api/geocode/json?address="+region+"&key=AIzaSyCrP7NgHcEeO53WHvrSrx4Ka8vw0nrKnEk");
        xhttp.send();   
    }
    </script>      
    <script src="/javascripts/function.js"></script>          
  </body>
</html>